.carouselimg{
    width: 24.37vw;
    height: 43.33vh;
    object-fit: cover;
    color: #F45A01;
}
#carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44.07vh;

}
#imagequizz{
    width: 44.06vw;
    height: 44.07vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.77vh;
}
#titlequizz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ligne{
    border-style: solid;
    border-color: #F45A01;
    width: 56.25vw;
    border-top: 2.77vh;
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #F45A01;
    font-family: Changa;
    font-size: 4.5em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
h2{
    color: #F7F1F9;
    font-family: Changa;
    font-size: 2.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3{
    color: #F7F1F9;
    font-family: Changa;
    font-size: 1.68em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#titlecarousel{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding-left: 6.5vw;
}
.arrow{
    width: 2vw;
}
#imgspotlight{
    width: 30.78vw;
    height: 54.25vh;
    font-size: 2.75em;
}
main{
    padding-bottom: 10vh;
}