.main-container{
    display: flex;
}
.search-section{
    width: 50%;
    position: relative;
}
.encareTitre{
    background-color: #733790;
    opacity: 95%;
    position: absolute;
    width: 34.5vw;
    border-radius: 9999px;
    top: 4vh;
    left: 4vh;
}
.titres{
    font-size: 2.75em;
    font-weight: 700;
    text-align: center;
    color: #f1f7f9;
}
#encareh2{
    width: 28vw;
}
.encareP{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #733790;
    opacity: 95%;
    position: absolute;
    width: 25vw;
    height: 9vh;
    border-radius: 30px;
    bottom: 8vh;
    right: 4vw;
}
.parag{
    padding-left: 1.2vw;
    padding-right: 1vw;
    font-size: 0.94em;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .main-container{
        flex-direction: column;
    }
    .search-section{
        width: 100%;
    }
    .encareTitre{
        left: 30vw;
        width: 40vw;
    }
    #encareh2{
        width: 34vw;
        left: 33vw;
    }
    .titres{
        font-size: 1.68em;
    }
    .encareP{
        width: 48vw;
        height: 13vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }
}
@media screen and (max-width: 425px){ 
    .encareTitre{
        left: 26vw;
        width: 48vw;
    }
    #encareh2{
        left: 30vw;
        width: 40vw;
    }
    .titres{
        font-size: 1.68em;
    }
    .encareP{
        width: 48vw;
        height: 10.5vh;
        padding-left: 3vw;
        padding-right: 2vw;
        bottom: 5vh;
    }
}