<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Retrouvez les bibliothèques générale et privée a cette endroit!"
    />
    <!-- Feuilles de style CSS -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style_global.css" />
    <link rel="stylesheet" href="../bibliotheques/css/acceuil_biblio.css" />
    <!-- Import police -->
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>Acceuil Bibliothèque - Nexus Gathering</title>
    <link rel="shortcut icon" href="../assets/logo/favicon.svg" />
    <script defer src=""></script>
  </head>
  <body>
    <header>
      <a href="index.html"
        ><img
          src="../assets/logo/logo_nexus_white.svg"
          class="logoh"
          title="Accueil"
          alt="Logo Nexus"
      /></a>
      <nav>
        <ul>
          <li><a href="acceuil_biblio.html">Bibliothèque</a></li>
          <li><a href="recherche_rapide.html">Joueurs</a></li>
          <li><a href="">Quiz</a></li>
          <li><a href="">Messagerie</a></li>
        </ul>
        <input type="search" placeholder="Rechercher..." />
        <button type="submit">
          <img
            src="/Nexus-gathering/assets/Icone/magnifying-glass-solid.svg"
          /></button
        ><!--- ecriture a virer et mettre icone recherche --->
        <button>Connexion</button>
      </nav>
    </header>
    <main></main>
    <footer>
      <a href="index.html"
        ><img
          src="../assets/logo/logo_long_nexus_white.svg"
          class="logof"
          title="Acceuil"
          alt="Logo Nexus Blanc"
      /></a>
      <ul>
        <li><a href="cgu.html">CGU</a></li>
        <li><a href="mention_legale.html">Mention légale</a></li>
        <li><a href="confidentialite.html">Politique de confidentialité</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <p>COPYRIGHT @ 2024 TOUS DROITS RESERVE</p>
    </footer>
  </body>
</html>
