main{
    height: 85vh;
}
.titres{
    text-align: center;
    padding-top: 3vh;
    margin-bottom: 3vh;
}
#form{
    display: flex;
}
#formCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.1vh;
    margin-left: 7vw;
}
.formNom{
    color: #F7F1F9;
    background-color: #F7F1F94D;
    border-radius: 9999px;
    width: 15vw;
    height: 6vh;
    text-align: center;
}
#formDesc{
    color: #F7F1F9;
    background-color: #F7F1F94D;
    border-radius: 30px;
    width: 62.5vw;
    height: 45vh;
    margin-left: 2vw;
}
#textDesc{
    margin-left: 1.9vw;
    margin-top: 1.5vh;
}
#formBut{
    display: flex;
    justify-content: space-around;
    width: 18.5vw;
}
.boutonF{
    background-color: #f45a01;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1em;
    width: 8vw;
    height: 5.5vh;
    border-radius: 9999px;
}
@media screen and (max-width: 768px) {
    #form{
        flex-direction: column;
        align-items: center;
    }
    #formCol{
        flex-direction: row;
        margin-bottom: 5vh;
        margin-left: 0vw;
    }
    .formNom{
        height: 4vh;
    }
    #formBut{
        width: 25vw;
    }
    .boutonF{
        width: 11vw;
        font-size: 0.9em;
    }
    #formDesc{
        margin-left: 0vw;
    }
}

@media screen and (max-width: 425px){ 
    #formCol{
        width: 100%;
        gap: 6vw;
        padding-left: 5.5vw;
    }
    #formDesc{
        width: 80vw;
        margin-left: 0vw;
    }
    #textDesc{
        margin-left: 6vw;
        margin-top: 2vh;
    }
}