main{
    height: 85vh;
}
.titres{
    text-align: center;
    padding-top: 3vh;
    margin-bottom: 3vh;
}
#form{
    display: flex;
}
#formCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.1vh;
    margin-left: 7vw;
}
.formNom{
    color: #F7F1F9;
    background-color: #F7F1F94D;
    border-radius: 9999px;
    width: 15vw;
    height: 6vh;
    text-align: center;
}
#formDesc{
    color: #F7F1F9;
    background-color: #F7F1F94D;
    border-radius: 30px;
    width: 62.5vw;
    height: 45vh;
    margin-left: 2vw;
}
#textDesc{
    margin-left: 1.9vw;
    margin-top: 1.5vh;
}
#formBut{
    display: flex;
    justify-content: space-around;
    width: 18.5vw;
}
.boutonF{
    background-color: #f45a01;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    border-radius: 9999px;
    text-align: center;
    width: 8vw;
    height: 5.5vh;
    line-height: 1em;
}