.profil {
    
    padding-top: 3%;
    display: flex;
    /* justify-content: flex-end; */
    margin-bottom: 10vh;
    
}


.profil_avatar {
    width : 15%;
    padding-top: 2.2%;
    margin-left: 10%;
}

.profil_avatar_img {
        
        width:40%;
        border-radius: 60px;
        
    }

.profil_hero {
    width: 50%;
    height: 150px;
    background-color: rgb(54, 26, 61, .6);
    border-radius: 30px;
    margin-left: 5vh;
    text-align: center;
    

    & .profil_hero_title{
        padding-top: 4%;
        color: #f7f1f9;
        font-size: 3em;
    }
    & p {
        margin-left: 2vh;
    }
}


.btnprincipal {
    display : flex;
    justify-content: space-around;
    margin-bottom: 5%;
    
    & .btnprincipal_hero {
        border: solid 1px;
        border-radius: 15px;
        width: 150px;
        height: 35px;
        text-align: center;
        background-color: rgb(54, 26, 61, .6);
    
    }
    
}


.container {
    background-color: rgb(160, 111, 183, .5);
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 10% 0 10%;
    border-radius: 20px 20px 0 0;    
}

.container_btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    

    & .container_btn_ajout {
        width: 100px;
        background-color: #f45a01;
        height: 60px;
        border-radius: 20px 0 0 0;
        color: black;
        font-weight: 600;
        text-align: center;
    }

    & .container_btn_sup {
        margin-left: auto;
        color: black;
        width: 100px;
        background-color: #f45a01;
        height: 60px;
        border-radius: 0 20px 0 0;
        font-weight: 600;
        text-align: center;
    }
}